body {
  font-family: sans-serif;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 16px;
}

.van-row {
  margin-bottom: 16px;
}

.van-col span {
  margin-top: 8px;
  display: block;
}

.van-radio-group {
  margin-top: 16px;
}

.van-radio {
  margin-bottom: 16px;
}

.van-radio img {
  width: 150px;
  height: 20px;
  margin-left: 16px;
  object-fit: contain;
}

.van-field {
  margin-top: 16px;
}

.van-button {
  margin-top: 16px;
}

.van-button--warning {
  margin-top: 8px;
}

#nav {
  padding: 6px;
  text-align: left;
}

#nav .van-row--justify-space-between {
  text-align: end;
  padding: 0.2rem;
}

#nav .van-col--6 {
  float: left;
  margin-top: 0.8rem;
}

#nav .van-col--13 p {
  text-align: right;
}

#nav .van-col--13 span {
  font-weight: bold;
}

#nav .van-button {
  margin-top: 0.8rem;
}

.van-divider {
  margin-top: 16px;
}

.van-form {
  margin-top: 16px;
}

.van-form .van-cell__title {
  width: 50px;
}

.van-form .van-button {
  margin: 8px 0;
}

.van-row--justify-center {
  margin-top: 42px;
}

.van-row--justify-center img {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  overflow: hidden;
}

.van-row--align-center {
  font-weight: lighter;
  font-size: 0.7rem;
  margin-top: 1.2rem;
  color: rgb(136, 134, 134);
}

.van-popup {
  animation: zoomIn 0.3s ease-in-out;
}

@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}
