}

.modal-text {
    color: #002aff;
    font-size: 16px;
    text-align: center;
}

.close {
    color: blue;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: blue;
    text-decoration: none;
    cursor: pointer;
}

@keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@media only screen and (max-width: 560px) {
    img {
    width: 100%;
}
    .box1 {
        padding: 15px;
    }

    .btn1, .btn2, .cpb {
        width: 100%;
        margin: 5px 0;
        font-size: 16px;
    }

    .inp {
        width: 95%;
}